body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#show_video_click {
    width: 79%;
    height: 600px;
    position: absolute;
    background-color: #212121;
    margin-left: 20.8%;
    margin-top: 4.7%;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
}

#search_parent {
    width: 100%;
    height: 230px;
    /* background-color: black; */
    margin-bottom: 2%;
    display: flex;
}

#search_parent>div:nth-child(1) {
    width: 30%;
    /* border: 1px solid white; */

}

#search_parent>div:nth-child(2) {
    width: 60%;
    /* border: 1px solid white; */
    margin-left: 1%;

}

#search_iframe_1>iframe {
    width: 99%;
    height: 100%;
    border: none;
}

#search_iframe_2 {
    display: flex;
    flex-direction: column;
}

#search_iframe_2>div {
    /* border: 1px solid rgb(180, 180, 184); */
    margin-top: 2%;
    color: white;
}
#search_iframe_2>div:nth-child(1) {
   font-size: 20px;
}

#nav_bar {
    width: 100%;
    height: 10vh;
    background-color: #202020;
    display: flex;
    position: fixed;
}

#nav_bar>div:nth-child(1) {
    width: 25%;
    height: 9vh;
    /* border: 1px solid white; */
}

#nav_bar>div:nth-child(2) {
    width: 75%;
    height: 9vh;
    /* border: 1px solid white; */
    display: flex;
}

#nav_search_box>div:nth-child(1) {
    width: 60%;
    height: 5vh;
}

#nav_search_box>div:nth-child(1)>input {
    width: 100%;
    height: 4vh;
    margin-top: 2%;
    background-color: #121212;
    outline: none;
    border: 1px solid #363636;
    color: white;
}

#nav_search_box>div:nth-child(1)>input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

#nav_search_box>div:nth-child(2) {
    width: 10%;
    height: 3vh;
    margin-top: 1.2%;
    margin-left: 0.5%;
}

#nav_search_box>div:nth-child(2)>button {
    width: 60%;
    height: 4.7vh;
    border: 0;
    background-color: #363636;
    border-radius: 2px;
    cursor: pointer;

}

#nav_search_box>div:nth-child(2)>button>svg {
    width: 40%;
    height: 5vh;
    border: 0;

}

#yt_logo {
    display: flex;
    align-items: center;
}

#yt_logo>div:nth-child(1)>img {
    width: 30%;
    margin-left: 50%;

}

#yt_logo>div:nth-child(2)>img {
    width: 100%;
    margin-left: 5%;
}

#yt-show_left-right {
    display: flex;
    width: 100%;
    height: auto;
}

#yt-show_left-right>div:nth-child(1) {
    width: 21%;
    height: 683px;
    background-color: #212121;
    /* background-color: #dd0c0c; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#yt-first-child>div:nth-child(1) {
    margin-top: 25%;
}

.yt-left-bar {


    display: flex;
    /* border: 1px solid black; */
    margin-top: 8%;
}
.yt-left-bar:hover {

    background-color:#4C4C4C;
}
.yt-left-bar>div:nth-child(1) {
  margin-left: 13%;
}
.yt-left-bar>div:nth-child(2) {
  margin-left: 5%;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.yt-left-bar>div:nth-child(2):hover {
    cursor: pointer;
    
  }

#yt-show_left-right>div:nth-child(2) {
    width: 80%;
    height: 602px;
    margin-top: 4.5%;
    background-color: #212121;
    overflow-y: scroll;
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

::-webkit-scrollbar-thumb {
    background: #AAAAAA;
    border-radius: 10px;
}


#yt-thumb {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    /* border: 1px solid red; */
}

#yt-thumb>div {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    /* background-color: #1A1A1A; */
    height: 350px;
    /* border: 1px solid rgb(44, 43, 43); */

}

#sub_parent>div:nth-child(1) {
    width: 99%;
    height: 200px;
    /* border: 1px solid rgb(44, 43, 43); */
}

#sub_parent>div:nth-child(2) {
    display: flex;
    /* border: 1px solid rgb(44, 43, 43); */
    height: 80px;
    margin-top: 2%;
}

#sub_parent>div:nth-child(3),
#sub_parent>div:nth-child(4) {
    width: 80%;
    margin-top: 3%;
    margin-left: 25%;
}

#div_2_style>div:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid grey;
    margin-right: 10px;
}

#div_2_style>div:nth-child(2) {
    width: 200px;
    height: auto;

    /* border: 1px solid grey; */
    margin-right: 10px;
    font-weight: 500;
}

#div_3_style {
    margin-top: 5%;
    color: #A5A8AA;
}

#div_4_style {
    margin-top: 2%;
    color: #A5A8AA;
}

#div_1_style>iframe {

    width: 99%;
    height: 200px;
    border: none;
}

.bar{
    width: 100%;
    height:1px;
    background-color: white
}